.main-section {
    background-color: #E53D00;
    height:567px;
    border-bottom: 10px solid #473198; 
    padding-top: 20px;
    padding-bottom:100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgblack {
    background-color: #000; 
    height: 400px;  
}
 
.main-section.-bdFirst {
    border-color: #E53D00;
}

.main-section.-bgSecond {
     background-color: #473198;
     height: 820px;
}

.main-section.-bdBlack {
    border-color: #000;
}