.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height:40px;   
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #473198;
}