.section {
    background-color: #E53D00;
    height:650px;
    border-bottom: 10px solid #473198; 
    padding-top: 50px;
    padding-bottom:100px;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgblack {
    background-color: #000;   
}
 
.section.-bdFirst {
    border-color: #E53D00;
}