.skill-tec {
    display:flex;
    font-family: 'Press Start 2P', cursive;
    font-size:25px;
    color: #fff;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .rigth {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}