.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec {
    width:430px;
    margin-bottom: 40px;    
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); 
    }
}

.icon:hover {
    animation: bounce 1s;      
}


.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill .progress-bar {
    width:320px;
}